# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.* 

# Operating system files
.DS_Store        # macOS
Thumbs.db        # Windows

# Optional build/coverage directories
dist/
build/
coverage/

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Dependency lock files 
package-lock.json
